@page
@model GroceryCRUDWebApp.Pages.Carts.AddModel
@{
}

<form method="post" class="shadow">
    <h4 class="text-center">Cart Details</h4>

    <div class="form-group col">
            <label asp-for="@Model.SelectedCustomerId"></label>
            <select asp-for="@Model.SelectedCustomerId" asp-items="@Model.CustomerList" class="form-select"></select>
     </div>
    <div class="form-group col">
            <label asp-for="@Model.SelectedProductId"></label>
            <select asp-for="@Model.SelectedProductId" asp-items="@Model.ProductList" class="form-select"></select>
   @* <div class="form-group">
        <label asp-for="@Model.CouponNumber"></label>
       <input asp-for="@Model.CouponNumber" class="form-control" />
    </div>
      <div class="form-group">
        <label asp-for="@Model.Cost"></label>
       <input asp-for="@Model.Cost" class="form-control" />
    </div>*@
    
     <div class="form-group">
        <label asp-for="@Model.NoofProducts"></label>
       <input asp-for="@Model.NoofProducts" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.TotalAmount"></label>
       <input asp-for="@Model.TotalAmount" class="form-control" />
    </div>
     <div class="form-group">
        <h6 class="text-success">@Model.SuccessMessage</h6>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
        <h6 class="text-danger">@Html.ValidationSummary()</h6>
    </div>
    <div class="row gx-0">
       
        <button type="submit" class="col btn btn-success me-2">Save</button>
        <a href="/Carts/List" class="col btn btn-default border-secondary ms-2" role="button">Cancel</a>
    </div>
    
    </form>